*background:  #1d2021
*foreground:  #d5c4a1
*color0:  #3c3836
*color1:  #fb4934
*color2:  #b8bb26
*color3:  #fe8019
*color4:  #83a598
*color5:  #d3869b
*color6:  #8ec07c
*color7:  #ebdbb2
*color8:  #504945
*color9:  #fb4934
*color10:  #b8bb26
*color11:  #fabd2f
*color12:  #83a598
*color13:  #d3869b
*color14:  #8ec07c
*color15:  #fbf1c7

URxvt.font: xft:Source Code Pro:size=10.5
URxvt.depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*saveLines:                  5000
URxvt*internalBorder: 5
URxvt*geometry: 70x19

rofi.color-enabled: true
rofi.color-window: #1d1e26, #b5bd68, #b5bd68
rofi.color-normal: #1d1e26, #b0b287, #8c9440, #b0b287, #78824B
rofi.color-active: #1d1e26, #b0b287, #8c9440, #b0b287, #78824B
rofi.color-urgent: #1d1e26, #b0b287, #8c9440, #b0b287, #78824B

rofi.separator-style: solid
rofi.sidebar-mode: false
rofi.lines: 5
rofi.font: Source Code Pro Semibold 10.5
rofi.bw: 1
rofi.columns: 2
rofi.padding: 5
rofi.fixed-num-lines: true
rofi.hide-scrollbar: true
